





.main-header h2 {
  font-size: medium;
  color: green;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 20px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 20px;

}

.header-actions {
  display: flex;
  gap: 10px;
  /* margin-bottom: 20px; */
  margin-right: 20px;
}

.header-actions button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stats-container {
  display: flex;
  flex-direction: row;
  background-size: cover;
  justify-content: space-evenly;
  align-items: center;
  color: green;
  margin: 20px;
  border-radius: 10px;
}

.stat-item {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: left;
  min-width: 160px;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;

}

.stat-label {
  display: block;
  font-size: 12px;
  color: #666;
}


.search-input {
  display: flex;
  /* flex-direction: row; */
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  justify-content: flex-end;
  margin: 20px;
}



.customer-table {
  margin: 20px;
}