.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(214, 166, 7); */
    background-image: url("../images/mainbackground.svg");
    background-color: darkgreen;
    background-color: black;
  }
  
 
  .inner-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 75vh;
    text-align: justify;
   
    
    ;
    /* background-color:red; */
  }

 .left-bar {
  background-image: url("../images//background.svg");
    flex:1;
   background-position: center;
   display: flex;
    color: white;
    display: flex;
    
    flex-direction: column;
    padding: 50px;
   
  

}
  .left.bar-1 {
   
font-size: 1rem;
    justify-content: left;   
      }
  
   .left-bar-2 p{
    font-size: 1.5rem;
    text-align: left;
    
  }
    
  .right-bar {
    
    background-color: white;
    background-size: cover;
    flex: 1;
   
    padding: 50px;
    padding-top: 0cm;
    /* height: "75vh"; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }
  
  .flex-start-col { 
    display: flex;
    flex-direction: column;
   
  }
  
  
  .right-bar h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 80px;
  }
  
.input-container-3 {
   
    width: 100%;
    padding: 10px;
}

.input-container-3 input {
    margin-left: 20px;
    width: 80%;
    padding: 15px;
    border-radius : 10px 10px 10px 10px;
    border-style: solid;
    border-color:  rgb(226, 220, 220);
    
}
   
.input-container-1 {
    /* margin-left: 50px; */
    width: 100%;
    padding: 10px;
 }


.input-container-1 input {
    margin-left: 20px;
    width: 80%;
    padding: 15px;
    border-radius : 10px 10px 10px 10px;
    border-style: solid;
    border-color:  rgb(226, 220, 220);
    
}
   
 
   .input-container-2 {
   
    width: 100%;
    padding: 10px;
    
  }
   
  .input-container-2 input {
    margin-left: 20px;
    width: 80%;
    padding: 15px;
    border-radius : 10px 10px 10px 10px;
    border-style: solid;
    border-color: rgb(226, 220, 220);
  }

  
  .login {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .login a {
    font-size: 0.8rem;
    color: green;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
    
  }

  button.submit-button {
    margin-left: 25px;
    width: 90%;
    padding: 15px;
    border-radius : 10px 10px 10px 10px;
    background-color: rgb(49, 211, 122);
    color: white;
    cursor: pointer;
  }
  
  